*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
:root {
    --hue-neutral:200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
header {
    background-color: lightgrey;
    margin:auto;
    padding: 50px;
}
h1 {
    font-size: 46px;
    color: blueviolet;
    text-align:center;
}
#highscore {
    float:left;
    font-size: 30px;
}

nav {
    float:right;
    font-size: 30px;
}
main {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    --hue: var(--hue-neutral);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content:center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}
main.correct {
    --hue: var(--hue-correct);
}
main.wrong {
    --hue: var(--hue-wrong);
}
#quizbox {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    --hue: var(--hue-neutral);
    border: 1 px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding:  5px 10px;
    color: white;
    outline: none;
}
.btn.correct {
    --hue: var(--hue-correct);
}
.btn.wrong {
    --hue: var(--hue-wrong);
}
#startbutton, #nextbutton {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}